<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
            <li id="logout"><a href="#">Logout</a></li> <!-- This can be hidden/shown based on login status -->
        </ul>
    </nav>
</header>
