<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio</title>
    <link rel="stylesheet" href="/css/Mainpage_Header_style.css">
    <link rel="stylesheet" href="/css/jass.css">
</head>



<header class="main-header">
    <div class="logo-container">
        <a href="/"><img src="/images/handshake logo.png" alt="MyFolio Logo" class="logo"></a>
    </div>
    <nav class="main-nav">
        <ul>
            {{#if session.logged_in}}
              <li><a href="/dashboard">Dashboard</a></li>
            {{else}}
              <li><a href="/login">Log In</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

{{!--  cool scrolling function that makes the header transparent when you scroll  --}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>



    
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50) {
                $('.main-header').addClass('scrolled');
            } else {
                $('.main-header').removeClass('scrolled');
            }
        });
    });
</script>

