{{!--  This partial will be for displaying projects in a small and concise manner, such as on the user project 
management page, the dashboard, etc. Ideally it should display the project's title, and thumbnail.

Ideas: 
    - Display some kind of summary / excerpt?
    - Hovering over this could maybe display some media, like a slideshow? If possible, since not every project may have images
    - Click on this to go to a project's page? --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio</title>
    <link rel="stylesheet" href="/css/mainpage_style.css">
    <link rel="stylesheet" href="/css/jass.css">
</head>

<button class = "btn project-body" style = "margin: 0.5rem; padding: 1rem; height: fit-content; width: 15rem; min-height:fit-content; background-color: lightgray">
    <h3>{{title}}</h3>
    <div style = "background-color: gray; height: 8.5rem; width: 100%; overflow:hidden">
        <img src = "/images/handshake logo.png" style = "height: 100%;">
    </div>
    <div>{{summary}}</div>
    <div>
        By {{GetUserName user_id}}
    </div>
</button>
