<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/jass.css"
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}

    <script src="/public/js/"></script>
    <script src="/public/js/logout.js"></script>
    
</body>
</html>
