<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body style = "display:flex; justify-content:center; margin-top:7.5rem;">
    <div style = "display:block; min-width: 50%;">
        
        <div style = "display:flex; justify-content:space-between">
            <div>
                <h2>Profile</h2>
                <div>
                    <div style = "display:flex;">
                        <label>Username:</label>
                        <pstyle = "padding-left: 1rem;">{{user.username}}</p>
                    </div>
                </div>
                <div>
                    <div style = "display:flex;">
                        <label>Email:</label>
                        <p style = "padding-left: 1rem;">{{user.email}}</p>
                    </div>
                </div>
                <div>
                    <div style = "display:flex;">
                        <label>Password:</label>
                        <p style = "padding-left: 1rem;">{{Censor user.password}}</p>
                    </div>
                </div>
            </div>
            <div class="hamburger-menu">
                <div id="menu-button" class="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div id="menu-content" class="menu-content" style = "width:fit-content;">
                    <ul>
                        <li><a href = "/newproject" id="addProject">Add Project</a></li>
                        <li><a href="#" id="deleteAccount">Delete Account</a></li>
                        <li><a href="#" id="changePassword">Change Password</a></li>
                        <li><a href="#" id="changeInfo">Change Personal Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "line"></div>
            <div class="portfolio">
                <h2>Your Projects</h2>
                <div class = "project-display">
                    {{#each projects}}
                        {{> project-small this}}
                    {{else}}
                        <div>There doesn't seem to be anything here.</div>
                    {{/each}}
                </div>
                    
            </div>

        </div>
    
        
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuButton = document.querySelector('#menu-button');
            const menuContent = document.querySelector('#menu-content');
            console.log(menuButton);
            menuButton.addEventListener('click', function(event){
                event.preventDefault();
                const isMenuOpen = menuContent.style.display === 'block';
                menuContent.style.display = isMenuOpen ? 'none' : 'block';
            });
        });
    </script>


</body>

</html>