<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolio</title>
    <link rel="stylesheet" href="/css/Login_style.css">
    <link rel="stylesheet" href="/css/jass.css">
</head>

<div class="wrapper center">
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required  class = "login" id = "login-email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required  class = "login" id = "login-pw">
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn" id = "login-btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <button class="close-button" onclick="closeRegister()">&times;</button>
            <h2>Registration</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" required class = "register" id = "register-username">
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required class = "register" id = "register-email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required class = "register" id = "register-pw">
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox" id = "agreement"> I agree to the terms & conditions</label>
                </div>
                <button type="submit" class="btn" id = "register-btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<script>
    
    const wrapper = document.querySelector('.wrapper');
    const loginLink = document.querySelector('.login-link');
    const registerLink = document.querySelector('.register-link');
    const btnPopup = document.querySelector('.btnLogin-popup');
    const iconClose = document.querySelector('.icon-close');

    document.addEventListener('DOMContentLoaded', (event) => {
    // This should be set dynamically based on the value received from the server
    const autoLogin = true; // Set this value based on the server's response

    /*if (autoLogin) {
        btnPopup.click();
    }*/
    });



    registerLink.addEventListener('click', ()=> {
        wrapper.classList.add('active');
    });

    loginLink.addEventListener('click', ()=> {
        wrapper.classList.remove('active');
    });

    /*btnPopup.addEventListener('click', ()=> {
        wrapper.classList.add('active-popup');
    });*/

    /*iconClose.addEventListener('click', ()=> {
        wrapper.classList.remove('active-popup');
        wrapper.classList.remove('active');
    });*/

    const login_username = document.querySelector('#login-email');
    const login_pw = document.querySelector('#login-pw');
    const login_submit = document.querySelector('#login-btn');

    const loginForm = async function(event){
        event.preventDefault();

        const username = login_username.value.trim();
        const pw = login_pw.value.trim();

        if(username && pw){    
            const response = await fetch('/api/users/login', {
                method: 'POST',
                body: JSON.stringify({ 
                    email: username, 
                    password: pw }),
                headers: { 'Content-Type': 'application/json' },
            });
            if (response.ok) {
                document.location.replace('/');
            } else {
                alert('Failed to log in');
            }
        }
    }

    login_username.addEventListener('submit', loginForm);
    login_pw.addEventListener('submit', loginForm);
    login_submit.addEventListener('click', loginForm);
    
    const register_email = document.querySelector('#register-email');
    const register_username = document.querySelector('#register-username');
    const register_pw = document.querySelector('#register-pw');
    const register_contract = document.querySelector('#agreement');
    const register_submit = document.querySelector('#register-btn');

    const registerForm = async function(event){
        event.preventDefault();

        const email = register_email.value.trim();
        const username = register_username.value.trim();
        const pw = register_pw.value.trim();

        if(email && username && pw){    
            const response = await fetch('/api/users/', {
            method: 'POST',
            body: JSON.stringify({ 
                email: email,
                username: username,
                role: "User",
                password: pw,
                created_at: Date.now()
                }),
            headers: { 'Content-Type': 'application/json' },
            });
            if (response.ok) {
                document.location.replace('/dashboard');
            } else {
                alert('Failed to sign up');
            }
            
        }
    }

        function closeRegister () {
        wrapper.classList.remove('active');
        console.log('Nice');
    };

    register_email.addEventListener('submit', registerForm);
    register_username.addEventListener('submit', registerForm);
    register_pw.addEventListener('submit', registerForm);
    register_submit.addEventListener('click', registerForm);
</script>

</html>