<section class="profile">
    <h2>Your Profile</h2>
    <!-- Include elements to display the user's profile information, portfolio, etc. -->
    <p>Welcome, <span id="username">{{username}}</span>!</p>
    <!-- The {{username}} is a placeholder that you'll replace with the actual username with server-side rendering -->
</section>

<!-- Ideally, this page would be for viewing the account info of another user. Like, for the user they would go to the dashboard, but
if they wanted to check out another creator it would lead here. It should display their username, maybe a bio, and their 
created projects. -->