{{!--  This will be for when you click on a project with the intent to look at it. It will display all
       the info of the project, its media, files for download, and the comments.
       
       Ideas: 
              - Maybe include an "edit" button if the user is the project's author?  --}}
<link type = "style" href="/public/css/jass.css">
<link type = "style" href="/public/css/style.css">
<link type = "style" href="/public/css/dashboard.css">

<div style = "margin-top:7.5rem;display:flex;justify-content:center">
       <div style = "width:50%">
              <div style = "display:flex; justify-content:space-between">
                     <h2>Title</h2>
                     <a>
                            By So and So
                     </a>
              </div>
              <div style = "display:flex;justify-content:space-between">
                     <div>Posted 10/10/2010</div>
                     {{#if isAuthor}}
                     <a href = "{{project.id}}/edit">Edit</a>
                     {{/if}}
              </div>
              <div class = "line" style = "margin-top:0.5rem;margin-bottom:0.5rem"></div>
              <div style = "background-color: gray; height:20rem;overflow:hidden; border-radius:0.5rem;">
                     <img></img>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus consectetur quibusdam necessitatibus voluptatibus rerum animi ab optio itaque corporis? Totam libero dolorum, possimus laborum sequi omnis corporis minima odit.</p>
              <div class = "line"></div>
       </div>
</div>
