//* Reset styles for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styling */
.header {
    background-color: rgb(22, 55, 155); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}

/* Hamburger Menu options */
.hamburger-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    background-color: transparent; 
    transition: transform 0.3s ease-in-out; 
}

.bar {
    background-color: white;
    display: block;
    width: 30px;
    height: 4px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}


.hamburger-button:hover {
    transform: scale(1.1); 
}


.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #cacaca;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.nav-menu ul {
    width: 100%;
    list-style-type: none;
}

.nav-menu li {
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #555;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: rgb(22, 55, 155) ;
}


.hamburger-button.is-active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-button.is-active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-button.is-active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .bar {
        width: 20px;
    }
}

